body {
	background-color: black;
}
h1, h2, h3, h4 {
	font-family: Times New Roman;
	text-align: center;
	color: white;
}
p {
	font-family: Trebuchet MS;
	color: white;
	font-size: 18px;
	text-align: center;
}
a {
	color: white;
	font-size: 18px;
	text-align: center;
}
tr, td {
	color: white;
	font-size: 18px;
	text-align: center;
}
ol, li {
	color: white;
	font-size: 18px;
	text-align: left;
}
p#styl1 {
	color: #FADA16;
	font-size: 33px;
}
p#styl2 {
	color: #FF00C6;
	font-size: 22px;
}